<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Flexbox Demo::</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../build/main.css">
</head>

<body>
  <header>
    <h1>1.The flex-direction Property</h1>
  </header>
  <section class="container" id="section-block">
  <p>row | row-reverse | column | column-reverse</p>
    <div class="header flex">
      <ul class="flex menu">
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
    
    </div>
  </section>
  <script src="build/bundle.js"></script>
</body>

</html>
