<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Flexbox Demo::</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h1>5.The align-items Property</h1>
  </header>
  <section class="container" id="section-block">
    <p>flex-start | flex-end | center | baseline | stretch</p>
    <div class="flex">
      <ul class="flex card-box alin-item">
        <li><img src="/src/images/images-1.jpg" alt="">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </li>
        <li><img src="/src/images/images-2.jpg" alt="">
          <h2>Lorem ipsum dolor sit amet consectetur adi</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </li>
        
      </ul>
    </div>
    </div>
  </section>
  <script src="build/bundle.js"></script>
</body>

</html>
